<div class="container">
  <div class="row">
    <!-- PARTIE GAUCHE -->
    <div class="col-3">
      <app-equipe-list
        [utilisateur]="connectedUser"
        [equipesUtilisateurSubject]="equipesUtilisateurSubject"
        (selectEquipe)="onSelectEquipe($event)"
      ></app-equipe-list>

      <app-modale [textButton]="'Créer une nouvelle équipe'">
        <p slot="header">Créer votre équipe</p>

        <div slot="body">
          <input
            type="text"
            id="nom"
            name="nom"
            class="form-control"
            [(ngModel)]="equipeACreer.nom"
            placeholder="Nom de votre équipe"
          />
        </div>

        <div slot="footer">
          <button mdbBtn (click)="creerEquipe()">Valider</button>
        </div>
      </app-modale>
    </div>
    <!-- Fin partie gauche -->

    <!-- Partie droite -->
    <div class="col-9">
      <app-equipe-details [equipeSelectionnee]=equipeSelectionnee [membres]=membres></app-equipe-details>
    </div>
    <!-- Fin partie droite -->
  </div>
</div>
