<app-banniere></app-banniere>

<div class="container-fluid container-games">
    <app-gamer-card class="cardBlock"></app-gamer-card>
    <app-gamer-card class="cardBlock"></app-gamer-card>
    <app-gamer-card class="cardBlock"></app-gamer-card>
    <app-gamer-card class="cardBlock"></app-gamer-card>
    <app-gamer-card class="cardBlock"></app-gamer-card>
    <app-gamer-card class="cardBlock"></app-gamer-card>
    <app-gamer-card class="cardBlock"></app-gamer-card>
    <app-gamer-card class="cardBlock"></app-gamer-card>
    <app-gamer-card class="cardBlock"></app-gamer-card>
    <app-gamer-card class="cardBlock"></app-gamer-card>
  </div>