  <!-- PARTIE GAUCHE -->
  <div>
    <app-equipe-list [utilisateur]="connectedUser"
      (selectEquipe)="onSelectEquipe($event)"
    ></app-equipe-list>

    <app-modale [textButton]="'Créer une nouvelle équipe'">
      <p slot="header">Créer votre équipe</p>

      <!-- TODO Input pour récupérer le nom de l'équipe à créer -->
      <div slot="body">
        <input
          type="text"
          id="nom"
          name="nom"
          class="form-control"
          [(ngModel)]="equipeACreer.nom"
          placeholder="Nom de votre équipe"
        />
      </div>

      <div slot="footer">
        <button mdbBtn (click)="onCreate()">Valider</button>
      </div>
    </app-modale>
  </div>

  <!-- Partie droite -->
<div>
  <h1>{{equipeSelectionnee?.nom}}</h1>
</div>
