<div class="container-fluid">
    <img class="logoGame" src={{logoGameLink}}>
</div>
<div class="container-fluid title">
    <h3>
      HIGHER COMMUNITY IN
      <span style="color: red">COUNTER-STRIKE: GLOBAL OFFENSIVE</span>
    </h3>
</div>
  

<div class="container-fluid container-players">
    <app-player-card class="cardBlock"></app-player-card>
    <app-player-card class="cardBlock"></app-player-card>
    <app-player-card class="cardBlock"></app-player-card>
    <app-player-card class="cardBlock"></app-player-card>
    <app-player-card class="cardBlock"></app-player-card>
    <app-player-card class="cardBlock"></app-player-card>
    <app-player-card class="cardBlock"></app-player-card>
    <app-player-card class="cardBlock"></app-player-card>
    <app-player-card class="cardBlock"></app-player-card>
    <app-player-card class="cardBlock"></app-player-card>
</div>