<nav class="navbar navbar-expand-lg navbar-light bg-light barre_navigation">
  <div class="row">
    <div class="col-2" [routerLink]="['/']">
      <img src={{linkLogo}} alt="" />
    </div>
    <div class="col-5">
      <div id="navigation">
        <a class="nav-link" routerLink="/squad">HigherSquad</a>
        <a class="nav-link" href="https://www.rentgamingcomputer.com/">Shop</a>
        <a class="nav-link" href="#" >News</a>
      </div>
    </div>
    <div class="col-5">
      <div id="espacePersonnel">
        <!-- CONDITION SUR UTILISATEUR CONNECTE -->
        <ng-template [ngIf]="!isConnected" [ngIfElse]="l">
            <a class="nav-link" [routerLink]="['account']"><mdb-icon class="pr-1" fas icon="lock"></mdb-icon>Connection</a>
        </ng-template>
        <ng-template #l class="container_connected">
          <!-- <div class="container">
            <a class="nav-link" [routerLink]="['profil/equipe']"><mdb-icon class="pr-1" fas icon="lock"></mdb-icon>MyTeams</a>
            <a class="nav-link user_panel" [routerLink]="['/']"><mdb-icon fas icon="user"></mdb-icon>
              <span class="user_pseudo pl-2">
                {{ connectedUser.username }}
              </span>
            </a>

          </div> -->
              <div ngbDropdown  #myDrop="ngbDropdown">
                <button class="btn btn-outline-primary" id="dropdownUtilisateur" ngbDropdownToggle>
                  <span class="user_pseudo pl-2">
                    {{ connectedUser.username }}
                  </span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownUtilisateur">
                  <a ngbDropdownItem class="nav-link" [routerLink]="['profil/equipe']"><mdb-icon class="pr-1" fas icon="lock"></mdb-icon>MyTeams</a>
                  <a class="nav-link " [routerLink]="['/']"><mdb-icon fas icon="user"></mdb-icon>
                    <span class="user_pseudo pl-2">
                      {{ connectedUser.username }}
                    </span>
                  </a>
                  <button ngbDropdownItem>Something else is here</button>
                </div>
              </div>

        </ng-template>
         <!-- CONDITION SUR UTILISATEUR CONNECTE -->
        <div>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
        </div>
      </div>

    </div>
  </div>
</nav>
