img {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#banniere_teams{
    opacity:0.5;
}

.description {
    font-weight: 400;
    text-align: center;
    width: 30%;
    line-height: 1.8em;
    font-size: 100%;
}

.logoGame {
    width: 30%;
}