<!-- Default form login -->
<form class="text-center border border-light p-5 inscription_formulaire" [formGroup]="registerFormulaire" (ngSubmit)="register()">
    <p class="h2 mb-4 title">INSCRIPTION</p>
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" formControlName="email">
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" formControlName="password">
    <button mdbBtn  class="my-4 connection_button" type="submit">C'est parti !<em class="fas fa-angle-right fa-4x ml-1"></em></button>
</form>