.title {
    font-family: 'Roboto';
    font-weight: 700;
    text-align: center;
}
.inscription_formulaire {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    height: 100%;
}

.connection_button {
    display: flex;
    align-items: center;
    margin: auto;
    background-color: rgb(225, 37, 27);
    color: white;

}

.input-nationalite {
  background-color: white !important;
}

