.title {
    font-family: 'Roboto';
    font-weight: 700;
    text-align: center;
}
.inscription_formulaire {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    height: 100%;
}

.connection_button {
    display: flex;
    align-items: center;
    margin: auto;
    background-color: rgb(225, 37, 27);
    color: rgb(255, 255, 255);

}

::ng-deep .mat-form-field  {
    position: relative;
    padding-right: 48%;

}
::ng-deep #mat-autocomplete-0 {
  background-color: rgb(209, 192, 192) !important;
  
}

.container {
    border: 1px solid #ced4da;
    display: flex;
    padding: 0;
}
